<div class="container">
  <% if obj.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h3 class="alert-heading">The Following Errors Prevented the Todo from Being Saved</h3>
        <ul>
          <% @todo.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </ul>
    </div>
  <% end %>
</div>